body {
    margin: 0;
    box-sizing: border-box;
}

#hero {
    height: 350px;
    background-image: url("images/hero-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-title {
    margin-bottom: 16px;
}

#hero-subtitle {
    margin: 0;
}