body {
    box-sizing: border-box;
    margin: 0;
}

#hero {
    height: 350px;
    background-image: url("images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-title {
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

#hero-subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

#activities {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #f2f2f2;
}

.activities-card {
    width: 250px;
    margin: 50px 0;
    text-align: center;
}

.activities-image {
    width: 200px;
    margin-bottom: 24px;
    border-radius: 50%;
}

.activities-image:hover {
    filter: brightness(0.9)
    
}

.activities-title {
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
}

.activities-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
}

.guide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-card {
    width: 600px;
    margin: 50px 0;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: #c8d8e4;
}

.guide-image {
    width: 200px;
    border-radius: 10px;
}

.guide-title {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
}

.guide-quote {
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.guide-name {
    margin: 0;
    font-size: 16px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
}